<!doctype html>
<html lang="en">
  <head>
    <title>Events</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/events.css">
    <link rel="stylesheet" href="/datetimepicker/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <% include partials/header.ejs %>

    <div class="container">

    <br>  
    <h1>Event Planner</h1>

    <br>

    <!-- Add Event Field -->
    <form>
        <!-- Row 1 -->
        <div class="form-row">

            <div class="col">
                Title: <input type="text" class="form-control" placeholder="Event Title" name="title" id="eventTitle" required>
            </div>

            <div class="col">
                Location: <input type="text" class="form-control" placeholder="Event Location" name="location" id="eventLocation" required>
            </div>

            <div class="col">
                Description: <input type="text" class="form-control" placeholder="Event Description" name="description" id="eventDescription" required>
            </div>

        </div>

        <br>

        <!-- Row 2 -->
        <div class="form-row">
            
          <div class='col'>
            Start Time: 
            <div class="form-group">
              <input class='form-control' id='datetimepicker' placeholder='yyyy-mm-dd hh:mm' name="startTime" required>
              </div>
            </div>

          <div class='col'>
            End Time: 
            <div class="form-group">
              <input class='form-control' id='datetimepicker1' placeholder='yyyy-mm-dd hh:mm' name="endTime"  required>
              </div>
            </div>

          <div class="col"></div>

        </div>

        <br>
        <!-- Add Event Button -->
        <button type="submit" class="btn btn-primary" id="addEvent">Add Event</button>

        <button type="submit" class="btn btn-primary" id="calendarView">Calendar View</button>

    </form>

    <br>
    <br>

    <h2>My Events</h2>

    <!-- EJS Declarations -->
    <% if (success) { %>

    <% var eventNumberIndex = 0; %>
    <% var events = 0; %>
    <% var x = false; %>

    <% for (let accordionIndex = 0; accordionIndex < accordionCount; accordionIndex++) { %>

    <!-- Field Showing Currently Scheduled Activities -->
     <div class="accordion" id="accordion">

      <!-- Card Header -->
      <div class="card">
        <div class="card-header" id="heading<%= accordionIndex; %>">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= accordionIndex; %>" aria-expanded="true" aria-controls="collapse<%= accordionIndex; %>">
              <h3><%= accordionNames[accordionIndex]; %></h3>
            </button>
          </h5>
        </div>
    
        <% for (let eventIndex = 0; eventIndex < eventNumber[eventNumberIndex]; eventIndex++) { %>
        <!-- Card Body -->
        <div id="collapse<%= accordionIndex; %>" class="collapse show" aria-labelledby="heading<%= accordionIndex; %>" data-parent="#accordion">

          <% if (x != false) { %>
          <hr>
          <% } %>

          <!-- Event Row -->
          <div class="card-body row eventDescription" title="Description: <%= eventsArray[(events + (eventIndex + 1)) - 1].description; %>" style="background-color:#FFFFFF;color:#000000;text-decoration:none;" id="<%= eventsArray[(events + (eventIndex + 1)) - 1].id; %>">
            
            <!-- Monthly Event Title -->
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 eventTitle" style="text-align: center">
              <u>Title</u> <br> <%= eventsArray[(events + (eventIndex + 1)) - 1].title; %>
            </div>

            <br>  

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 eventLocation" style="text-align: center">
              <u>Location</u> <br> <%= eventsArray[(events + (eventIndex + 1)) - 1].location; %>
            </div>

            <br>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 eventStart" style="text-align: center">
              <u>Start Time</u> <br> <%= eventsArray[(events + (eventIndex + 1)) - 1].startDate.toString().slice(0, 24); %>
            </div>

            <br>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 eventEnd" style="text-align: center">
              <u>End Time</u> <br> <%= eventsArray[(events + (eventIndex + 1)) - 1].endDate.toString().slice(0, 24); %>
            </div>  

            <br>

            <!-- Trash Button -->
            <!-- <div class="icon-trash col-0.5 col-md-1 col-sm-1.5 trashIt" id="t<%= eventsArray[(events + (eventIndex + 1)) - 1].id; %>">
              <div class="trash-lid" style="background-color: #D37ABC"></div>
              <div class="trash-container" style="background-color: #D37ABC"></div>
              <div class="trash-line-1"></div>
              <div class="trash-line-2"></div>
              <div class="trash-line-3"></div>
            </div> -->

            <!-- <button style="font-size:24px" id="t<%= eventsArray[(events + (eventIndex + 1)) - 1].id; %>" class="fa fa-trash-o trashIt col-0.5 col-sm-2"></button> -->

            <button style="font-size:24px; max-height: 50px; max-width: 65px; text-align: center" id="t<%= eventsArray[(events + (eventIndex + 1)) - 1].id; %>" class="btn btn-primary center-block fa fa-trash-o trashIt col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-auto" id="addEvent"></button>

          </div> <!-- End Card Body -->

        </div>  <!-- End Collapse --> 
        <% x = true; %>
        <% } %>

          <% events += eventNumber[eventNumberIndex]; %>
          <% eventNumberIndex++; %>
          <% x = false; %>
      
      </div>  <!-- End Card --> 
    </div> <!-- End Accordion --> 
    <% } %>
    <% } %>
    </div> <!-- End .container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="./datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker').datetimepicker();
        $('#datetimepicker1').datetimepicker();
      });
    </script>
    <script src="/scripts/event.js"></script>
  </body>
</html>