<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>

    <%- include partials/header.ejs %>

        <div class="main container">
            <h1 class="display-4 text-center m-5">My Students</h1>
            <div class='row text-center mb-3' id='labels'>
                <div class='col-md-3'>
                    <h4>Name</h4>
                </div>
                <div class='col-md-3'>
                    <h4>Phone</h4>
                </div>
                <div class='col-md-3'>
                    <h4>Email</h4>
                </div>
                <div class='col-md-3'>
                    <h4>Instrument</h4>
                </div>
            </div>
<!--  -->

            <div class='accordian' id="student_rows">
                <% for (let i = 0; i < students.length; i++) { %>
                    <div class='card'>
                        <div class='card-header' id='heading<%=i%>'>
                            <button class="btn btn-link container-fluid" type="button" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="false"
                                aria-controls="collapse<%=i%>">
                                <div class="row">
                                    <div class='col-md-3 info'>
                                        <%= students[i].firstName%>
                                            <%= students[i].lastName%>
                                    </div>
                                    <div class="col-md-3">
                                            <% if (students[i].phoneNumber != null && students[i].phoneNumber != '') { %>
                                                <%= '(' + students[i].phoneNumber.slice(0,3) + ') ' + students[i].phoneNumber.slice(3,6) + '-' + students[i].phoneNumber.slice(6)%>
                                                <% } %>
                                        </div>
                                    <div class='col-md-3 info'>
                                        <%= students[i].email%>
                                    </div>
                                    <div class='col-md-3 info'>
                                        <%= students[i].instrument%>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>" data-parent="#student_rows">
                            <div class="card-body">
                                <form action="/updatestudent/<%=students[i].id%>" method="POST">
                                    <!-- row 1 -->
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="name">Name </label>
                                            <input type="text" class='form-control' name="name" id='name' value="<%=students[i].firstName%> <%=students[i].lastName%>">
                                        </div>
                                        <div class="col-md-3">
                                                <label for="phone">Phone number </label>                                            
                                                <input name="phone" class='form-control' id='phone' type="text" 
                                                <% if (students[i].phoneNumber != null && students[i].phoneNumber != '') { %>
                                                    value=" <%= '(' + students[i].phoneNumber.slice(0,3) + ') ' + students[i].phoneNumber.slice(3,6) + '-' + students[i].phoneNumber.slice(6)%> "
                                                    <% } %>
                                                >
                                            </div>
                                        <div class="col-md-3">
                                            <label for="email">Email</label>
                                            <input type="text" name="email" class='form-control' id='email' value="<%=students[i].email%>">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="instrument">Instrument</label>
                                            <input type="text" name="instrument" class='form-control' id='instrument' value="<%=students[i].instrument%>">
                                        </div>
                                    </div>
                                    <!-- row 2 -->
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="label-space" for="parentname1">Parent/Guardian 1</label>
                                            <input type="text" name="parentname1" class='form-control' id='parentname1' value="<%=students[i].parentname1%>">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="label-space" for="parentname2">Parent/Guardian 2</label>
                                            <input type="text" name="parentname2" class='form-control' id='parentname2' value="<%=students[i].parentname2%>">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="label-space" for="parentPhone">Parent number</label>
                                            <input name="parentPhone" type="text" id='parentPhone' class='form-control'
                                            <% if (students[i].parentPhoneNumber != null && students[i].parentPhoneNumber != '') { %>
                                                value=" <%= '(' + students[i].parentPhoneNumber.slice(0,3) + ') ' + students[i].parentPhoneNumber.slice(3,6) + '-' + students[i].parentPhoneNumber.slice(6)%> "
                                                <% } %>
                                            >
                                        </div>
                                        <div class="col-md-3">
                                            <label class="label-space" for="parentEmail">Parent Email</label>
                                            <input type="text" name="parentEmail" class='form-control' id='parentEmail' value="<%=students[i].parentEmail%>">
                                        </div>
                                    </div>
                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-space" for="address">Address</label>
                                            <input name="address" class='form-control' type="text" value="<%=students[i].address%>">
                                        </div>
                                        <div class="col-md-4 offset-md-1 text-center">
                                            <label class="label-space" for="checkedOut">Equipment checked out:</label>
                                            <ul class='text-center list-group'>                                            
                                                <% if (students[i].uniforms.length > 0) { %> 
                                                        <% for(let j = 0; j < students[i].uniforms.length; j++) { %>
                                                        <li class='list-group-item'><%=students[i].uniforms[j].type%></li>
                                                        <% } %>
                                                <% } %>
                                                <% if (students[i].instruments.length > 0) { %> 
                                                    <% for(let j = 0; j < students[i].instruments.length; j++) { %>
                                                    <li class='list-group-item'><%=students[i].instruments[j].instrument%></li>
                                                    <% } %>
                                            <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row pt-5">
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-block btn-dark">Update Student</button>
                                        </div>
                                    </form>
                                        <div class="col-md-3">
                                            <form action="/deletestudent/<%=students[i].id%>" method="POST">
                                                <button type="submit" class="btn btn-block btn-danger">Delete Student</button>
                                            </form>
                                        </div>
                                    </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                    <% } %>

            <!-- Create a first student -->
                        <div class='card'>
                            <div class='card-header' id='heading'>
                                <button class="btn btn-link container-fluid" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false"
                                    aria-controls="collapse">
                                    <div class="row">
                                        <div class='col info'>
                                            <i>Add New Student</i>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#student_rows">
                                <div class="card-body">
                                    <form action="/createstudent" method="POST">
                                        <!-- row 1 -->
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="name">Name </label>                                                
                                                <input type="text" class='form-control' name="name" id='name' value="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="phone">Phone number </label>                                            
                                                <input name="phone" class='form-control' id='phone' type="text">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="email">Email</label>                                                
                                                <input type="text" name="email" class='form-control' id='email' value="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="instrument">Instrument</label>                                                
                                                <input type="text" name="instrument" class='form-control' id='instrument' value="">
                                            </div>
                                        </div>
                                        <!-- row 2 -->
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="label-space" for="parentname1">Parent/Guardian 1</label>                                                
                                                <input type="text" name="parentname1" class='form-control' id='parentname1' value="">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="label-space" for="parentname2">Parent/Guardian 2</label>                                                
                                                <input type="text" name="parentname2" class='form-control' id='parentname2' value="">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="label-space" for="parentPhone">Parent Number</label>                                                
                                                <input name="parentPhone" type="text" id='parentPhone' class='form-control'>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="label-space" for="parentEmail">Parent Email</label>                                                
                                                <input type="text" name="parentEmail" class='form-control' id='parentEmail' value="">
                                            </div>
                                        </div>
                                        <!-- row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="label-space" for="address">Address</label>                                                
                                                <input name="address" class='form-control' type="text" value="">
                                            </div>
                                        </div>
                                        <div class="row justify-content-start pt-5">
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn-block btn-dark">Add Student</button>
                                            </div>
                                        </form>
                                        </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
          

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
</body>

</html>