<!doctype html>
<html lang="en">
  <head>
    <title>Uniforms</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>

      <%- include partials/header.ejs %>
    
    <div class="container">
        <h1 class="display-4 text-center m-5">Uniforms</h1>
        <div class='row text-center mb-3'>
            <div class='col-md-3 offset-2'>
                <h4>
                    <button class='orderType'>Type</button>
                </h4>
            </div>
            <div class='col-md-3 offset-1'>
                <h4>Student</h4>
            </div>
        </div>
        <div class='accordian' id="student_rows">
            <div class='card'>
                    <div class='card-header' id='heading'>
                        <button class="btn btn-link container-fluid" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false"
                            aria-controls="collapse">
                            <div class="row">
                                <div class='col-md-3 info offset-2'>
                                        <strong>Add Uniform</strong>
                                </div>
                                <div class='col-md-3 info offset-1'>
                                        
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#student_rows">
                        <div class="card-body">
                            <form action='/createUniform' method='POST'>
                                <!-- row 1 -->
                                <div class='row'>
                                    <div class='col-md-3 offset-2'>
                                        <p>Type</p>
                                    </div>
                                    <div class='col-md-3 offset-1'>
                                        <p>Student</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 offset-2">
                                        <select class="form-control" name='uniformType' id='instrumentBar'>
                                            <% uniformTypeArray.forEach(function(e){ %>
                                                <option><%= e %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-3 offset-1">
                                        <select class="form-control" id='studentSelect' name='studentName'>
                                            <% studentListArray.forEach(function(e){ %>
                                                <option><%= e.firstName %>  <%= e.lastName %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <!-- row 2 -->
                                <div class='row offset-2 mt-5'>
                                    <div class='col-md-3'>
                                        <p>Pant Size</p>
                                    </div>
                                    <div class='col-md-3'>
                                        <p>Jacket Size</p>
                                    </div>
                                    <div class='col-md-3'>
                                        <p>Dress Size</p>
                                    </div>
                                </div>
                                <div class="row offset-2">
                                    <div class="col-md-3">
                                        <select class="form-control"  name='pantSize'>
                                            <% pantSizeArray.forEach(function(e){ %>
                                                <option> <%= e %> </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control"  name='jacketSize'>
                                            <% jacketSizeArray.forEach(function(e){ %>
                                                <option> <%= e %> </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control"  name='dressSize'>
                                            <% dressSizeArray.forEach(function(e){ %>
                                                <option> <%= e %> </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <!-- row -->
                                <div class="row justify-content-start pt-5">
                                    <div class="col-md-2">
                                        <button id='uniformButton' type="submit" class="btn btn-dark">Create Uniform</button>
                                    </div>
                            </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            <% for (let i = 0; i < uniformInfoArray.length; i++) { %>
                <div class='card'>
                    <div class='card-header' id='heading<%=i%>'>
                        <button class="btn btn-link container-fluid" type="button" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="false"
                            aria-controls="collapse<%=i%>">
                            <div class="row">
                                <div class='col-md-3 info offset-2'>
                                    <%= uniformInfoArray[i].type%>
                                </div>
                                <div class='col-md-3 info offset-1'>
                                        <%= uniformInfoArray[i].name%>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>" data-parent="#student_rows">
                        <div class="card-body">
                            <form action='/uniformUpdate/<%=uniformInfoArray[i].id%>' method='POST'>
                                <!-- row 1 -->
                                <div class='row'>
                                    <div class='col-md-3 offset-2'>
                                        <p>Type</p>
                                    </div>
                                    <div class='col-md-3 offset-1'>
                                        <p>Student</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 offset-2">
                                        <select class="form-control" name='uniformType' id='instrumentBar'>
                                            <% uniformTypeArray.forEach(function(e){ %>
                                                <% if (uniformInfoArray[i].type === e){ %>
                                                    <option selected value='<%= e %>'><%= e %></option>
                                                <% } else { %>
                                                    <option><%= e %></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-3 offset-1">
                                        <select class="form-control" id='studentSelect' name='studentName'>
                                            <% studentListArray.forEach(function(e){ %>
                                                <% if(uniformInfoArray[i].name === (`${e.firstName} ${e.lastName}`)){ %>
                                                <option selected value='<%= uniformInfoArray[i].name %>'><%= e.firstName %>  <%= e.lastName %></option>
                                                <% } else { %>
                                                    <option><%= e.firstName %>  <%= e.lastName %></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <!-- row 2 -->
                                <div class='row offset-2 mt-5'>
                                    <div class='col-md-3'>
                                        <p>Pant Size</p>
                                    </div>
                                    <div class='col-md-3'>
                                        <p>Jacket Size</p>
                                    </div>
                                    <div class='col-md-3'>
                                        <p>Dress Size</p>
                                    </div>
                                </div>
                                <div class="row offset-2">
                                    <div class="col-md-3">
                                        <select class="form-control"  name='pantSize'>
                                            <% pantSizeArray.forEach(function(e){ %>
                                                <% if(uniformInfoArray[i].pant_size === e){ %>
                                                    <option selected value='<%= e %>'> <%= e %> </option>
                                                <% } else { %>
                                                    <option> <%= e %> </option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control"  name='jacketSize'>
                                            <% jacketSizeArray.forEach(function(e){ %>
                                                <% if(uniformInfoArray[i].jacket_size === e){ %>
                                                    <option selected value='<%= e %>'> <%= e %> </option>
                                                <% } else { %>
                                                    <option> <%= e %> </option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control"  name='dressSize'>
                                            <% dressSizeArray.forEach(function(e){ %>
                                                <% if(uniformInfoArray[i].dress_size === e){ %>
                                                    <option selected value='<%= e %>'> <%= e %> </option>
                                                <% } else { %>
                                                    <option> <%= e %> </option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <!-- row -->
                                <div class="row justify-content-start pt-5">
                                    <div class="col-md-2">
                                        <button id='uniformButton' type="submit" class="btn btn-dark">Update Uniform</button>
                                    </div>
                            </form>
                                <div class="col-md-2">
                                    <form action="/deleteUniform/<%=uniformInfoArray[i].id%>" method="POST">
                                        <button type="submit" class="btn btn-danger">Delete Uniform</button>
                                    </form>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
                <% } %>
        </div>

  


    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>